@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .btn-grd{
    @apply bg-gradient-to-r from-[#9747FF] via-[#511377] to-black
  }

}

@layer base{
    @property --color-a {
        syntax: "<color>";
        inherits: true;
        initial-value: #000000; /* Valid initial value */
  }
  @property --color-b {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent; 
      }
      @property --color-c {
        syntax: "<color>";
        inherits: true;
        initial-value: #000000; 
          }
}
body, html{
    background-color: black;
    --color-a : #000000;
    --color-b : #800080;
    --color-c : #999999;
}
/* Hide scrollbar for Chrome, Safari, and Opera */
::webkit-scrollbar{
  display:none,
}